{{ define "main" }}
<div class="td-content">
    <h1>{{ .Title }}</h1>
    {{ with .Params.description }}<div class="lead">{{ . | markdownify }}</div>{{ end }}
    <div class="container" style="float: left;">
        <div class="card-columns">
            {{ with (resources.GetMatch (printf "images/profile/%s.*" (urlize .LinkTitle))) }}
            {{ $image := .Resize "500x jpg" }}
            <div class="card shadow">
                <div class="card-header">Image</div><img class="card-img-top" src="{{ $image.Permalink }}">
            </div>
            {{ end }}
            <div class="card shadow">
                <div class="card-header">Previous Teams</div>
                <div class="card-body">
                    <p class="card-text">
                        <ul>
                            {{ range .Pages }}
                            <li><a href="{{ .RelPermalink }}">{{- .Title -}}</a></li>
                            {{ with .Description}} <p>{{ . | markdownify }}</p> {{ end}}
                            {{ end }}
                        </ul>
                    </p>
                </div>
            </div>
            {{ with .Params.links }}
            <div class="card shadow">
                <div class="card-header">Links</div>
                <div class="card-body">
                    
                    <p class="card-text">
                        <ul>
                    {{ range . }}
                        <li><a href="{{ .url }}">{{- .display_title -}}</a></li>
                {{ end }}
                </ul>
                </p>
            </div>
            </div>
        </div>
    </div>
    {{ end }}
</div>
</div>
</div>
{{ end }}