{{ define "main" }}
<div class="td-content">
    <h1>{{ .Title }}</h1>
    {{ with .Params.description }}<div class="lead">{{ . | markdownify }}</div>{{ end }}
    <div class="container" style="float: left;">
        <div class="card-columns">
            {{ with (resources.GetMatch (printf "images/profile/%s.*" (urlize .LinkTitle))) }}
            {{ $image := .Resize "500x jpg" }}
            <div class="card shadow">
                <div class="card-header">Image</div><img class="card-img-top" src="{{ $image.Permalink }}">
            </div>
            {{ end }}
            <div class="card shadow">
                <div class="card-header">Previous Teams</div>
                <div class="card-body">
            {{ range .Pages }}
            <div class="col-12">
                <div class="card shadow h-100">
                    <div class="card-body">
                        <h5 class="card-title"><a class="stretched-link" href="{{.Permalink}}">{{.Title}}</a></h5>
                        <p class="card-text"><small class="text-muted">{{ len .Params.members }} members</small></p>
                    </div>
                </div>
            </div>
			{{ end }}
                </div>
            </div>
            {{ with .Params.links }}
            <div class="card shadow">
                <div class="card-header">Links</div>
                <div class="card-body">
                    
                    {{ range . }}
                    <div class="col-12">
                        <div class="card shadow h-100">
                            <div class="card-body">
                                <h5 class="card-title"><a class="stretched-link" href="{{.url}}">{{- .display_title -}}</a></h5>
                            </div>
                        </div>
                    </div>
                {{ end }}
            </div>
            </div>
        </div>
    </div>
    {{ end }}
</div>
</div>
</div>
{{ end }}