{{ $col_id := .Get "color" | default .Ordinal }}

	<section class="row td-box td-box--{{ $col_id }} td-box--gradient td-box--height-max">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="card shadow-lg text-dark" style="box-shadow: 0 0 40px 20px #fff;">			
				<div class="card-header"><h1>{{ .Get "category" }}</h1></div>
				<div class="card-body">
					<div class="card-columns" style="column-count: {{ (math.Ceil (div (len (where ( .Page.Resources.ByType "image" ) "Params.category" (.Get "category"))) 2.0))}} ">
					{{ range (where ( .Page.Resources.ByType "image" ) "Params.category" (.Get "category")) }}
										
					<div class="card align-items-center bg-transparent h-100 border-muted">
						<!-- {{ if .Name }}
						<div class="card-header">
							<a href="{{ .Params.link }}">{{ .Name }}</a>
						</div>
						{{ end }} -->
						
						<a href="{{ .Params.link }}"><img src="{{ .Permalink }}" class="card-img-bot img-fluid"></a>
						
					</div>
						
						{{ end }}
</div>				</div></div>
			</div>
		</div>
	</section>